.cta {

}

.cta__content {
  column-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

.cta__form {
  flex-direction: column;
}

.form__text {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.form__btn {
  display: flex;
  align-self: center;
}

/* Breakpoints */
/* For largen devices */
@media screen and (max-width: 992px) {
.cta__content {
  max-width: 380px;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.form__text {
  text-align: center;
}
}

/* For medium devices */
@media screen and (max-width: 768px) {}

/* For small devices */
@media screen and (max-width: 350px) {}