.footer {
  
}

.footer__sidebar {
  column-gap: 4rem;
  grid-template-columns: 2fr 1fr 1fr;
}

.sidebar__title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.sidebar__articles, .sidebar__tags, .sidebar__followus {
  max-width: 380px;
  margin: 0 auto;
}

.sidebar__article {
  display: flex;
  flex-direction: column;
  margin: 0 1rem .50rem 0;
}

.followus__list-container {
  display: grid;
  grid-template-columns: 1fr
}

.followus__list-item {
  display: flex;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.followus__list-item > :first-child {
  margin-right: .5rem;
  color: var(--highlight-color);
}

/* Breakpoints */
/* For largen devices */
@media screen and (max-width: 992px) {
  .footer__sidebar {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .followus__list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 350px) {}